@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @{
        var basePath = Configuration["BasePath"] ?? "/";
    }
    <base href="@basePath">
</head>
<body>
    <input type="hidden" id="hiddenUserId" value="@ViewBag.UserID" />
    <input type="hidden" id="hiddenUserName" value="@ViewBag.UserName" />
    <input type="hidden" id="hiddenUserRole" value="@ViewBag.UserRoleName" />
    <input type="hidden" id="hiddenJobRank" value="@ViewBag.JobRank" />
    <div>
        @RenderBody()
    </div>
    <script>
        var userId = document.getElementById('hiddenUserId')?.value || '0';
        var userName = document.getElementById('hiddenUserName')?.value || 'Guest';
        var userRoleName = document.getElementById('hiddenUserRole')?.value || 'Anonymous';
        var jobRank = document.getElementById('hiddenJobRank')?.value || '';
    </script>
</body>
</html>
